main {
    width: 100%;
    height: auto;

    .head {
        width: 100%;
        height: 100px;
        /* border: 2px solid rgba(255, 255, 255, 0.742); */
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        z-index: 10;

        >* {
            display: flex;
            height: 100%;
        }

        >figure {
            width: 80px;
            /* border: 2px solid red; */
            justify-content: center;
            align-items: center;
        }

        >ul {

            /* border: 2px solid palevioletred; */
            >li {
                &:first-of-type {
                    >a {
                        color: rgb(36, 36, 220);
                    }
                }

                >a {
                    /* background-color: aqua; */
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    position: relative;
                    font-size: 20px;
                    text-transform: capitalize;

                    &:hover {
                        &::after {
                            width: 100%;
                            left: 0;
                        }
                    }

                    &::after {
                        content: '';
                        display: flex;
                        position: absolute;
                        width: 0;
                        height: 3px;
                        background-color: black;
                        bottom: 0;
                        left: 50%;
                        transition: 1s;
                    }
                }
            }
        }

        >div {
            justify-content: flex-end;
            margin-left: 550px;
            align-items: center;

            /* border: 2px solid purple; */
            >a {
                font-size: 27px;
                padding: 20px;
                transition: 1s;

                /* border: 2px solid black; */
                &:hover {
                    color: rgb(36, 36, 220);
                }

                >i {
                    /* background-color: aqua; */
                }
            }
        }
    }

    /* end head...../// */
    .pragraf{
        width: 100%;
        height: 400px;
        /* border: 2px solid black; */
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
        >h1{
            font-size: 40px;
            text-transform: uppercase;
            text-shadow: 10px 10px 10px black;
        }
    }
    .photo{
        width: 100%;
        height: 400vh;
        /* border: 2px solid black; */
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr  1fr 1.4fr 1fr  1.4fr;
        grid-template-rows: repeat(6 , 1fr);
        >div{
            width: 100%;
            height: 100%;
            /* border: 5px solid red; */
            position: relative;
            &:hover{
                >.caption{
                    opacity: 1;
                    transform: scaleY(1);
                }
            }
            >img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .caption{
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.541);
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                padding-top: 200px;
                transition: 0.4s;
                opacity: 0;
                transform: scaleY(0);

                >*{ 
                    text-transform: capitalize;
                }
                >h4{
                    font-size: 25px;
                }
                >h5{
                    font-size: 20px;
                    color: rgb(53, 52, 52);
                }
            }
            &:nth-of-type(1){
                grid-column: 1 / span 2;
            }
            &:nth-of-type(5){
                grid-column: 1 / span 3;
            }
            &:nth-of-type(8){
                grid-column: 1 / span 2;
            }
            &:nth-of-type(9){
                grid-column: 3 / span 3;
            }
            &:nth-of-type(10){
                grid-column: 1 / span 2;
            }
            &:nth-of-type(11){
                grid-column: 3 / span 2;
            }
            &:nth-of-type(13){
                grid-column: 1 / span 3 ;
            }
        }
    }
    /* end class photo..../// */
    >footer{
        width: 100%;
        height: 450px;
        background-color: rgb(36, 36, 220);
        margin-top: 200px;
        .box{
            width: 200px;
            height: 200px;
            margin: 200px auto;
            position: fixed;
            bottom: -160px;
            right: 50px;
            &:hover{
                >figure{
                    >img{
                        transition: 1s;
                        border-radius: 29% 71% 92% 8% / 55% 50% 50% 45%;
                    }
                    >figcaption{
                        left: -30%;
                        opacity: 1;
                    }
                }
            }
            >figure{
                width: 100%;
                height: 100%;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
                >figcaption{
                    width: 100px;
                    height: 200px;
                    position: absolute;
                    top: 10%;
                    left: 30%;
                    opacity: 0;
                    transition: 1s;
                    >a{
                        text-decoration: none;
                        transition: .8s;
                        transition-property: transform;
                        transition-timing-function: ease-out;
                        &:nth-of-type(1){
                            transition-delay: .2s;
                        }
                        &:nth-of-type(2){
                            transition-delay: .4s;
                        }
                        &:nth-of-type(3){
                            transition-delay: .6s;
                        }
                        &:nth-of-type(4){
                            transition-delay: .8s;
                        }
                        >i{
                            font-size: 35px;
                            color: red;
                        }
                    }
                }
            }
        }
        .dev{
            /* border: 2px solid red; */
            margin: 10px 20px;
            >h2{
                text-transform: capitalize;
                padding-top: 20px;
                text-shadow: 5px 5px 10px black;
                font-size: 25px;
            }
        }
        .footer-contact{
            /* border: 3px solid white; */
            margin: 10px 50px;
            >*{
                text-transform: capitalize;
            }
            >h3{
                padding-top: 40px;
                font-size: 22px;
            }
            >p{
                font-size: 20px;
            }
        }
        .footer-about{
            /* border: 5px solid brown; */
            margin: 30px 50px;
            >*{
                text-transform: capitalize;
                padding-top: 10px;
            }
            >h3{
                font-size: 22px;
            }
            >p{
                font-size: 20px;
            }
        }
        .footer-social{
            /* border: 2px solid white; */
            margin: 50px;
            width: 50%;
            height: 100px;
            >h5{
                font-size: 20px;
                text-transform: capitalize;
            }
            >ul{
                display: flex;
                padding: 20px 10px;
                li{
                
                    >a{
                        padding-left: 30px;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}